h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1.2em;
    span {
        border: 4px dashed #20bcd5;
        color: #20bcd5;
        padding: 10px;
    }
}

.quote {
    text-align: right;
}

table {
    width: 100%;
    font-size: 11pt;
}

table, tr, td{
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

.selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}