<header>
  <div class="fluid-container">
    <nav>
      <div class="nav-wrapper">
        <a routerLink="/" class="brand-logo">{{ appTitle }}</a>
        <ul class="right">
          <li><a routerLink="/"><i class="material-icons">home</i></a></li>
          <li><a routerLink="/about"><i class="material-icons">person</i></a></li>
          <li><a routerLink="/contact"><i class="material-icons">people</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
