// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url("https://fonts.googleapis.com/css?family=Handlee");
body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    background-color: #efefef;
    font-family: 'Handlee';
    font-size: 18px;
}

a {
    text-decoration: none;
}

section{
    background-color: #fff;
    border-radius: 10px;
    padding: 0.1em 1.5em;
    margin: 0.7em;
}