<div class="fluid-container">
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Hi! I'm Ethan</span>
            <p>I am an aspiring software developer currently training in front-end development.</p>
          </div>
          <div class="card-action">
            <a href="#">My Projects</a>
            <a href="#">My Interests</a>
          </div>
        </div>
      </div>
    </div>          
</div>

<div class="fluid-container">
  <h4>Shadows</h4>
  <h1 [ngClass]="{
    'gray': h1Style,
    'large': !h1Style
  }">Home</h1>
  <button class="btn purple darken-3 pulse" (click)="firstClick()">Click Me</button>
</div>

<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>
